<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: "<%= title %> User Sign Ups",
                x: -20 //center
            },
            subtitle: {
                text: 'Source: Database',
                x: -20
            },
            xAxis: {
                
categories: [
    <% payload.each do |k, v| %>
        \'<%= k %>\',
    <% end %>
            },
            yAxis: {
                title: {
                    text: 'Count'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y;
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
            name: "<%=title%>",
            data: [
                <% payload.each do |k, v| %>
                    <%= v %>, 
                <%end %>
                ]
                }
            ]
        });
    });
    
});
        </script>
        <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
