
#StatsContainer{:style=>'top:300px;position:absolute;width:65%'}
  %h10
    =@total_payload
  %br
  %br
  Total Users Count

  %hr
  %table
    %tr
      %td
        Growth since yesterday:
      %td
        %h1
          = number_to_percentage @yesterday_percentage,:precision=>2
      %td
        Growth last 7 days:
      %td
        %h1
          = number_to_percentage @week_percentage,:precision=>2
    %tr
      %td
        Growth last 30 days:
      %td
        %h1
          = number_to_percentage @month_percentage,:precision=>2
        
      %td 
        Growth last 365 days:
      %td
        %h1
          = number_to_percentage @year_percentage,:precision=>2
          


