%h1 Referral Analysis
#ChartContainer
  = render 'pages/highchart', :payload => @payload,:title=>@title, :storage=>'true',:type=>'Referral', :daytoday => @daytoday

%br
%hr

#StatsContainer
  %table
    %tr
      %td
        Max Value Pair:
      %td
        %h1
          - if @title == 'Monthly'
            = Date::MONTHNAMES[@max_value_pair[0]]
          - else
            = @max_value_pair[0]

          
      %td
        %h1
          = number_to_human_size(@max_value_pair[1], :precision=>5)
